.App {
	display: grid;
	grid-template: .6fr .4fr 15fr .4fr / .45fr 4.5fr 3fr 3fr;
	grid-template-areas: "logo header login add" "filter filter filter filter" "main main main sidebar"
		"footer footer footer footer";
	height: 100%;
	width: 100%;
	background: #ba1f32;
}

.Router {
	display: grid;
	grid-template: .6fr .4fr 15fr .4fr / .45fr 4.5fr 3fr 3fr;
	grid-template-areas: "logo header login add" "filter filter filter filter" "main main main sidebar"
		"footer footer footer footer";
	height: 100vh;
}

.Header {
	background-color: #ba1f32;
	grid-area: header;
	font-size: 32px;
	color: white;
	padding-top: 10px;
	text-align: center;
}

.Logo {
	grid-area: logo;
}

.ArticleSort {
	background-color: #ba1f32;
	grid-area: login;
	color: white;
	text-align: center;
	padding-top: 15px;
}

.AddArticle {
	background-color: grey;
	grid-area: add;
}

button {
	background-color: #ba1f32;
	height: 63px;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

a {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.AddArtForm {
	grid-area: main;
	background-color: #ba1f32;
	text-align: center;
}

.Filter {
	background-color: #ba1f32;
	grid-area: filter;
}

.main {
	background-color: #ba1f32;
	grid-area: main;
	text-align: center;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 6px;
}

.Sidebar {
	background-color: #ba1f32;
	grid-area: sidebar;
	text-align: center;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.Footer {
	background-color: #ba1f32;
	grid-area: footer;
	text-align: center;
	color: white;
	padding-top: 4px;
	border: black;
}

ul {
	padding-left: 0;
	margin-top: 6px;
}
.Content li {
	color: black;
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 8px;
	list-style-type: none;
	background: silver;
	font-size: 18px;
	transition: 0.25s;
	text-align: left;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: grid;
	grid-template: 1fr 1fr 1fr / .75fr 10fr .75fr;
	grid-template-areas: "upvote title comments" "votes author commentLogo" "downvote topic .";
}

ul li:nth-child(even) {
	background: white;
	border-radius: 10px;
}

ul li:hover {
	background: #ddd;
	border-radius: 10px;
}

.upVote {
	grid-area: upvote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-color: none;
	max-width: 100%;
	margin-left: 6.2px;
}
.downVote {
	grid-area: downvote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	max-width: 100%;
	margin-left: 6.2px;
}

.artVote {
	grid-area: votes;
	text-align: center;
	max-width: 100%;
	padding-top: 2px;
	padding-right: 20px;
}

.artCom {
	grid-area: comments;
	text-align: center;
	max-width: 100%;
}

.artTop {
	grid-area: topic;
	text-align: left;
	max-width: 100%;
	margin-left: 20px;
}

.artAut {
	grid-area: author;
	max-width: 100%;
	margin-left: 20px;
}

.artTitle {
	grid-area: title;
	max-width: 100%;
	margin-left: 20px;
}

.topicname {
	text-align: center;
}

.Sidebar li {
	text-align: center;
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 8px;
	list-style-type: none;
	background: silver;
	font-size: 18px;
	transition: 0.25s;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
}

ul a {
	color: black;
}

#body {
	width: 100%;
	height: 140px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#title {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#submit {
	width: 140px;
	background-color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit:hover {
	background-color: #45a049;
}

.commentButton {
	grid-area: commentLogo;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	max-width: 100%;
	padding-left: 1px;
}

.commentButtonSize {
	height: 35px;
	width: 35px;
	padding-bottom: 0;
	padding-top: 5px;
}

.homeButtonSize {
	height: 63px;
	width: 57px;
	padding-left: 0px;
}

.commentLogo {
	padding-left: 13px;
}

.authContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: url(https://www.feefo.com/api/merchant-image/feefo3329x220-northcoders-brand.png);
	background-repeat: no-repeat;
}

.authMain {
	background-color: #ba1f32;
	width: 400px;
	height: 150px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	align-items: center;
	padding: 10px;
	padding-bottom: 16px;
}

.authHeader h1 {
	margin: 0;
	padding: 0;
}
.authHeader h3 {
	margin: 0;
	padding: 0;
}

.authHeader {
	width: 100%;
	text-align: center;
	color: white;
}

.authForm {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.authFormInput {
	margin: 5px;
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.authFormLabel {
	padding-top: 12px;
	padding-right: 5px;
}

.loginButton {
	width: 75px;
	height: 60px;
	background-color: black;
	padding: 7px 10px;
	margin: 8px;
	margin-left: 100px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.loginButton:hover {
	background-color: #45a049;
}

#submitTop {
	width: 160px;
	height: 40px;
	background-color: black;
	padding: 5px 8px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submitTop:hover {
	background-color: #45a049;
}

.upVoteCom {
	grid-area: upVote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-color: none;
	max-width: 100%;
	margin-left: 6.2px;
}
.downVoteCom {
	grid-area: downVote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	max-width: 100%;
	margin-left: 6.2px;
}

.comVote {
	grid-area: cVotes;
	text-align: center;
	max-width: 100%;
	padding-top: 2px;
	padding-right: 20px;
}

.comBody {
	text-align: left;
	grid-area: comment;
	width: 100%;
	padding-bottom: 15px;
}

.ComButton li {
	color: black;
	cursor: pointer;
	position: relative;
	padding: 12px 8px 1px 8px;
	list-style-type: none;
	background: silver;
	font-size: 18px;
	transition: 0.25s;
	text-align: left;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: grid;
	grid-template: 1fr 1fr 1fr / 10fr 1fr;
	grid-template-areas: "comment upVote" "comment cVotes" "created downVote";
}

.comCreated {
	grid-area: created;
	padding-bottom: 0;
}
