.App {
	display: grid;
	grid-template: .6fr 15fr .4fr / .2fr 4.5fr 4fr 3fr;
	grid-template-areas: "logo header login add" "main main main sidebar" "footer footer footer footer";
	height: 100%;
	width: 100%;
	background: #ba1f32;
	font-family: 'Poppins', sans-serif;
}

.Router {
	display: grid;
	grid-template: .6fr 15fr .4fr / .2fr 4.5fr 3fr 3fr;
	grid-template-areas: "logo header login add" "main main main sidebar" "footer footer footer footer";
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}

.Header {
	background-color: black;
	grid-area: header;
	font-size: 32px;
	color: white;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
}

.Logo {
	grid-area: logo;
	height: 48px;
}

.Login {
	background-color: black;
	grid-area: login;
	color: white;
	text-align: center;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

.AddArticle {
	background-color: black;
	grid-area: add;
}
.AddArticle a:hover {
	text-decoration: underline;
}

button {
	background-color: #ba1f32;
	height: 66px;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	border-radius: 4px;
}

button:hover {
	background-color: #45a049;
}

a {
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	size: 58px 58px;
}

a:hover {
	text-decoration: underline;
}

.AddArtForm {
	grid-area: main;
	background-color: #ba1f32;
	text-align: center;
}

.Filter {
	background-color: #ba1f32;
	grid-area: filter;
}

.main {
	background-color: #ba1f32;
	grid-area: main;
	text-align: center;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 6px;
	border-top-style: solid;
	border-color: black;
}

.Sidebar {
	background-color: black;
	grid-area: sidebar;
	text-align: center;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 6px;
	border-left-style: solid;
	border-top-style: solid;
	border-color: black;
}

.Footer {
	background-color: #ba1f32;
	grid-area: footer;
	text-align: center;
	color: white;
	padding-top: 4px;
	border-top-style: solid;
	border-color: black;
}

ul {
	padding-left: 0;
	margin: 0;
}
.Content li {
	color: black;
	cursor: pointer;
	position: relative;
	padding: 2px 1px 2px 1px;
	list-style-type: none;
	background: silver;
	font-size: 12px;
	transition: 0.25s;
	text-align: left;
	border-radius: 10px;
	display: grid;
	grid-template: 1fr 1fr 1fr / .75fr 10fr .75fr;
	grid-template-areas: "upvote title comments" "votes author commentLogo" "downvote topic .";
}

ul li:nth-child(even) {
	background: white;
	border-radius: 10px;
}

ul li:hover {
	background: #ddd;
	border-radius: 10px;
}

.upVote {
	grid-area: upvote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-color: none;
	max-width: 100%;
	margin-left: 6.2px;
}
.downVote {
	grid-area: downvote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	max-width: 100%;
	margin-left: 6.2px;
}

.artVote {
	grid-area: votes;
	text-align: center;
	max-width: 100%;
	padding-left: 5px;
	text-transform: capitalize;
}

.artCom {
	grid-area: comments;
	text-align: center;
	max-width: 100%;
	text-transform: capitalize;
}

.artTop {
	grid-area: topic;
	text-align: left;
	max-width: 100%;
	margin-left: 20px;
	text-transform: capitalize;
}

.artAut {
	grid-area: author;
	max-width: 100%;
	margin-left: 20px;
	font-style: italic;
	text-transform: capitalize;
}

.artTitle {
	grid-area: title;
	max-width: 100%;
	margin-left: 20px;
	font-weight: bold;
	font-size: 14px;
	text-transform: capitalize;
}

#artButton {
	width: 186px;
	height: 60px;
	border-radius: 10px;
	padding-right: 30px;
}

.topicname {
	text-align: center;
}

.Sidebar li {
	text-align: center;
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 8px;
	list-style-type: none;
	background: silver;
	font-size: 18px;
	transition: 0.25s;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
	margin-top: 0;
}

ul a {
	color: black;
}

#body {
	width: 100%;
	height: 140px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#title {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#submit {
	width: 140px;
	background-color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit:hover {
	background-color: #45a049;
}

.commentButton {
	grid-area: commentLogo;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	max-width: 100%;
	padding-left: 1px;
}

.commentButtonSize {
	height: 35px;
	width: 35px;
	padding-bottom: 0;
	padding-top: 5px;
}

.homeButtonSize {
	height: 58px;
	width: 57px;
	padding-left: 0px;
	padding-bottom: 0;
}

.commentLogo {
	padding-left: 13px;
}

.authContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.authMain {
	background-color: #ba1f32;
	width: 400px;
	height: 150px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	align-items: center;
	padding: 10px;
	padding-bottom: 16px;
	font-family: 'Poppins', sans-serif;
}

.authHeader h1 {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.authHeader h3 {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.authHeader {
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.authForm {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.authFormInput {
	margin: 5px;
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.authFormLabel {
	padding-top: 10px;
	padding-right: 8px;
	font-family: 'Poppins', sans-serif;
}

.loginButton {
	width: 75px;
	height: 60px;
	background-color: black;
	padding: 7px 10px;
	margin: 2px;
	margin-left: 150px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.loginButton:hover {
	background-color: #45a049;
}

#submitTop {
	width: 160px;
	height: 40px;
	background-color: black;
	padding: 5px 8px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submitTop:hover {
	background-color: #45a049;
}

.upVoteCom {
	grid-area: upVote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-color: none;
	max-width: 100%;
	margin-left: 6.2px;
}
.downVoteCom {
	grid-area: downVote;
	height: 25px;
	width: 25px;
	background-image: url(http://www.transparentpng.com/download/up-arrow/Fjx7Uy-up-arrow-clipart-transparent.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	max-width: 100%;
	margin-left: 6.2px;
}

.comVote {
	grid-area: cVotes;
	text-align: center;
	max-width: 100%;
	padding-top: 2px;
	padding-right: 20px;
}

.comBody {
	grid-area: comment;
	width: 100%;
	display: flex;
	position: absolute;
	text-align: left;
	top: 50%;
	padding-top: 0px;
}

.ComButton li {
	color: black;
	cursor: pointer;
	position: relative;
	padding: 0px 8px 12px 8px;
	list-style-type: none;
	background: silver;
	font-size: 14px;
	transition: 0.25s;
	text-align: left;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 10fr;
	grid-template-areas: "upvote comment" "votes author" "downvote created";
}

.comCreated {
	grid-area: created;
	padding-bottom: 0;
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
	display: flex;
	position: absolute;
	text-align: left;
	top: 50%;
}

.comAuthor {
	grid-area: author;
	padding-bottom: 0;
	font-style: italic;
	font-size: 14px;
	display: flex;
	position: absolute;
	text-align: left;
	top: 50%;
}

.artBox {
	background: black;
	border-radius: 10px;
}

.artBox h2 {
	background: black;
	border-radius: 10px;
	text-transform: capitalize;
}

.Topic li {
	color: black;
	text-align: left;
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 8px;
	list-style-type: none;
	background: silver;
	font-size: 14px;
	transition: 0.25s;
	border-radius: 10px;
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	grid-template-areas: "articleTitle articleTitle articleCreated";
}

.articleTitle {
	grid-area: articleTitle;
	font-weight: bold;
}

.articleCreated {
	grid-area: articleCreated;
	text-align: right;
	font-style: italic;
	font-size: 11px;
}

.artCom a:hover {
	text-decoration: underline;
}
.artTop a:hover {
	text-decoration: underline;
}
.artTitle a:hover {
	text-decoration: underline;
}
.artAut a:hover {
	text-decoration: underline;
}

#bodyArt {
	border-style: solid;
	display: flex;
	justify-content: center;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 10px;
	padding: 12px;
}

#userImg {
	height: 100px;
	margin-top: 20px;
}

.userContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	margin-top: 50px;
}

.userMain {
	background-color: #ba1f32;
	width: 400px;
	height: 300px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	align-items: center;
	padding: 10px;
	padding-bottom: 16px;
	font-family: 'Poppins', sans-serif;
}

#submitInUser {
	background-color: #ba1f32;
	height: 66px;
	width: 180px;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	border-radius: 4px;
}
#submitInUser:hover {
	background-color: #45a049;
}

#useruseruser {
	text-transform: capitalize;
}
